<div class="chat-button-container">
    <button class="btn btn-primary" [routerLink]="['/', 'model', 'list']">Chat</button>
</div>
<div class="models-button-container">
    <button class="btn btn-primary" [routerLink]="['/', 'model', 'list']">Models</button>
</div>
<div class="other-button-container">
    <button class="btn btn-outline" [routerLink]="['/']">Cached Contents</button>
    <button class="btn btn-outline" [routerLink]="['/']">Corpora</button>
    <button class="btn btn-outline" [routerLink]="['/']">Files</button>
    <button class="btn btn-outline" [routerLink]="['/']">Media</button>
</div>